name: Build Hanvi

on:
  push:
    branches: [ "master", "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.10.1' 
        host: 'windows'
        target: 'desktop'
        arch: 'win64_msvc2022_64'

    - name: Configure CMake
      run: cmake -B build -S . -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release

    - name: Create Portable Zip
      run: cmake --build build --target MakePortableZip --config Release

    - name: Update Nightly Tag
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        # Force create/update the tag locally
        git tag -fa nightly -m "Hanvi"
        git push -f origin nightly
        
    - name: Update Nightly Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: nightly
        name: Hanvi
        body: "Latest automatic build from the main branch."
        files: build/Hanvi.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
