name: Build Hanvi

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.10.1' 
        host: 'windows'
        target: 'desktop'
        arch: 'win64_msvc2022_64'

    - name: Configure CMake
      run: cmake -B build -S . -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release

    - name: Create Portable Zip
      run: cmake --build build --target MakePortableZip --config Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Hanvi
        path: build/Hanvi.zip
